<section [ngClass]="{ loading: !tasksList.length }">
  <ul *ngIf="tasksList.length">
    <li *ngFor="let item of tasksList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" />
      <input
        type="text"
        [(ngModel)]="item.name"
        [ngClass]="{ checked: item.checked }"
        (blur)="inputChangeValidation(item.name, i)"
      />

      <button (click)="listItemDelete(i)">
        <img src="assets/icons/icon-trash.svg" alt="" />
      </button>
    </li>
  </ul>
</section>

<app-todo-input-add-items
  (emitItemTaskList)="setEmitTaskList($event)"
></app-todo-input-add-items>
<app-todo-button-delete-all
  *ngIf="tasksList.length"
  (click)="listItemsDeleteAll()"
></app-todo-button-delete-all>
